@media (max-width:450px) {

    header {

        padding: 3% 7%;

        .header-logo {
            width: 20vw;
        }

    }
    

    .hero .intro {
        width: 100%;
        height: 95%;
        padding: 4% 0 0 0;
        margin: 0;
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .titulo {
            margin-top: 20%;
            width: 100vw;
            text-align: center;
        }

        h1 {
            font-size: 13vw;
        }

        h2 {
            font-size: 4vw;
        }

        .texto {
            align-items: center;
            width: 80%;
            z-index: 100;

            p {
                font-size: 7vw;
                text-align: center;
            }

            .btn-escolha button {
                font-size: 4vw;
            }

            .btn-escolha img {
                width: 2.5vw;
            }
        }
    }

    .corpo {
        align-items: center;
        height: 175vh;
        justify-content: space-between;

        .cidades .escolha {
            display: none;
        }

        .cidades .cidade-destino {
            margin: 0;
            padding: 0 7%;
            width: 100vw;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            .cidade {
                width:80vw;
                height: 20vh;
                margin: 1.5%;
                flex-direction: column;
                align-items: center;

                .nome-cidade {
                    font-size: 7vw;
                }

                .ingressos {
                    font-size: 3.5vw;
                }
            }
        }

        .comentarios {
            padding: 5%;

            .logos img {
                width: 30%;
                margin: 5% 0;
                
            }
        }

        .comentarios .depoimentos {
            height: 45vh;
            flex-direction: column;
            align-items: center;
            margin-bottom: 35%;

            

            .depoimento {
                width: 90%;
                text-align: center;
                margin-bottom: 10%;
            }
        }
    }

    .corpo .agradecimentos {
        padding: 1% 7%;
        justify-content: space-between;
        margin-bottom: 5%;

        h2 {
            font-size: 5vw;
            text-align: center;
            margin-top: 3%;
        }

        ul {
            flex-wrap: wrap;
            align-items: center;

            li {
                margin: 1%;
                font-size: 3vw;
            }

        }
    }

    footer {
        background-repeat: no-repeat;
        background-position: -680px; 
    }

    footer .contatos {
        flex-direction: column;

        .titulo-footer {
            width: 80vw;
            text-align: center;
            justify-content: baseline;
            margin: 0 0 3% 0;
            
            h2 {
                width: 100%;
                font-size: 10vw;
            }

            h3 {
                font-size: 3vw;
                margin-bottom: 5%;
            }
        }

        .contato {
            width: 100%;

            .redes-sociais {
                h4 {
                    font-size: 2vw;
                }

                img {
                    width: 6vw;
                }
            }

            img {
                width: 20vw;
            }

            .institucional {
                h4 {
                    font-size: 3vw;
                }
                ul li {
                    font-size: 3vw;
                }
            }
        }
    }

    .logos-footer {
        img {
            width: 20vw;
        }
    }

    .animated {
        height: 27vh;
        padding-bottom: 70%;
        
        .texto-infinito {
            font-size: 20vh;
        }
    }

 }