@media (max-width:800px) {
    .hero .intro {
        width: 100%;
        height: 95%;
        padding: 4% 0 0 0;
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .titulo {
            margin-top: 10%;
            width: 100vw;
            text-align: center;
        }

        h1 {
            font-size: 10vw;
        }

        h2 {
            font-size: 3vw;
        }

        .texto {
            align-items: center;
            width: 80%;

            p {
                font-size: 5vw;
                text-align: center;
            }

            .btn-escolha button {
                font-size: 3vw;
            }

            .btn-escolha img {
                width: 2.5vw;
            }
        }
    }

    .corpo {
        align-items: center;
        height: 130vh;

        .cidades .escolha {
            display: none;
        }

        .cidades .cidade-destino {
            margin: 0;
            padding: 0 7%;
            width: 100vw;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            .cidade {
                width:42vw;
                height: 20vh;
                margin: 0.5%;
                flex-direction: column;
                align-items: center;

                .nome-cidade {
                    font-size: 4vw;
                }

                .ingressos {
                    font-size: 2.5vw;
                }
            }
        }

        .comentarios .depoimentos {
            height: 45vh;
            flex-direction: column;
            align-items: center;

            .depoimento {
                width: 90%;
                text-align: center;
                margin-bottom: 5%;
            }
        }
    }

    .corpo .agradecimentos {
        padding: 1% 7%;

        h2 {
            font-size: 4vw;
            margin-top: 10%;
        }

        ul {
            flex-wrap: wrap;
            align-items: center;

            li {
                margin: 1%;
                font-size: 2.5vw;
            }

        }
    }

    footer .contatos {
        flex-direction: column;

        .titulo-footer {
            width: 50vw;
            text-align: center;
            justify-content: baseline;
            margin: 0 0 3% 0;
            
            h2 {
                width: 100%;
                font-size: 6vw;
            }

            h3 {
                font-size: 2vw;
                margin-bottom: 5%;
            }
        }

        .contato {
            width: 100%;
        }
    }

    .logos-footer {
            justify-content: baseline;
        }

    .animated {
        height: 27vh;

        .texto-infinito {
            font-size: 20vh;
        }
    }

 }